@use "themes";

.card {
  box-shadow: 1px 5px 15px 1px rgba(9, 9, 9, 0.41);
  z-index: 10px;
  border-radius: 10px;
  width: auto;
  background-color: #13131321;
  #header {
    color: white;
    border: solid 5px white;
    background-color: themes.$secondary;
    height: 9vh;
  }

  .sub-header {
    border-top: 1px solid;
    color: themes.$creamColor;
  }
}
