@use "themes";

.card-container {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 5%;
}

.aboutMe-card {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 5%;

  width: 50%;
  text-align: center;
  .aboutMe-projects-link {
    color: themes.$primary;
  }
}

.card {
  box-shadow: 1px 5px 15px 1px rgba(9, 9, 9, 0.41);
  z-index: 10em;
  padding-top: 2%;
  border-radius: 2%;
  align-items: center;
  width: auto;
  background-color: #13131306;
  margin-bottom: 10%;
  font-family: themes.$fontPlay;
  .header {
    text-align: center;
  }
}

.project-content {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .projects-card {
    box-shadow: 1px 25px 25px 0px rgba(9, 9, 9, 0.41);
    margin-top: 20%;
    margin-left: 15%;
    width: 60%;
    border-radius: 2%;
    font-family: themes.$fontRoboto;
  }
}
