@use "themes";

.card-container {
  margin-top: 1%;
  padding-left: 20%;
  padding-right: 5%;
}

.card {
  box-shadow: 1px 5px 15px 1px rgba(9, 9, 9, 0.41);
  z-index: 10em;
  border-radius: 10px;
  align-items: center;
  width: auto;
  background-color: #13131306;
  #header {
    text-align: center;
    color: white;
    border: solid 5px white;
    background-color: themes.$secondary;
    height: 9vh;
  }
}

.projects-card {
  box-shadow: 1px 5px 15px 1px rgba(9, 9, 9, 0.41);
  margin: 10%;
  width: 30%;
}
