@use "themes";

header {
  text-align: center;
}

.project-btn {
  margin: 6%;
  background-color: themes.$primary;
}

.img-container {
  position: relative;
  width: 100%;
}

.imgs {
  width: 100%;
  display: block;
}

.img-overlay {
  opacity: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  header {
    font-size: 1rem;
  }
}

.img-overlay:hover {
  opacity: 1;
}

.resume-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  .sub-header {
    border-top: 0.1rem solid;
  }
}

.resume-icon-ul {
  display: flex;
  padding-right: 20%;
}
