@use "utils";

.project-body {
  @include utils.flex-box(column, center);
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(10px);
  z-index: 100%;
  width: 100vw;
  height: 350vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  .modalBox {
    width: 50%;
    margin-bottom: 25%;
    border-radius: 2.5%;
    box-shadow: 5px 0 10px 0px;
    text-align: center;
  }
  .close {
    margin-left: 88%;
  }
}
