@use "_themes";
.project-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(10px);
  z-index: 100%;
  width: 100vw;
  height: 350vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  .modalBox {
    background-color: themes.$primary;
    width: 50%;
    margin-bottom: 25%;
    border-radius: 2.5%;
    box-shadow: 5px 0 10px 0px;
    text-align: center;
    font-family: themes.$fontRoboto;
  }
  .close {
    margin-left: 88%;
  }
}
