@use "themes";
.card {
  box-shadow: 1px 5px 15px 1px rgba(9, 9, 9, 0.41);
  z-index: 10px;
  border-radius: 10px;
  width: auto;
  text-align: center;
  background-color: #13131321;
  #header {
    color: themes.$creamColor;
    height: 9vh;
  }

  .sub-header {
    border-top: 1px solid;
    color: themes.$creamColor;
  }
}

.resume-icon-ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;

  .resume-icon {
  }
}
