.card {
  box-shadow: solid 6%, 6%, 6%, 6% rgb(255, 255, 255);
  z-index: 10px;
  width: auto;
  text-align: center;
  background-color: #13131351;
  #header {
    border: 1px rgb(1, 1, 1) solid;
  }

  .sub-header {
    border-bottom: 1px rgb(1, 1, 1) solid;
  }
}

.resume-icon-ul {
  display: flex;
  list-style: none;
  justify-content: space-around;

  .resume-icon {
    font-size: 6px;
  }
}
