@import url("https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@500&family=Fira+Code:wght@300&family=Play&display=swap");
$primary: #b2ffda;
$secondary: #2f80ed;
$thirdColor: #ebb34b;

$fontPlay: Anek Gujarati;
$fira: Fira Code;
$fontRoboto: Play;

.Home {
  background-color: $secondary;
}
