@import url("https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@500&family=Fira+Code:wght@300&family=Play&display=swap");
$primary: #b2ffda;
$secondary: #2f80ed;
$thirdColor: rgba(5, 117, 115, 0.652);

$fontPlay: Anek Gujarati;
$fira: Fira Code;
$fontRoboto: Play;
