@import url("https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@500&family=My+Soul&family=Play&display=swap");
$primary: #7ecdfa;
$secondary: #faab7e;
$thirdColor: #957efa;

$fontPlay: Anek Gujarati;
$fontRoboto: Play;
$fontSoul: My Soul;
