$fontPlay: monospace sans-serif Anek Gujarati Courier;

@mixin neoShadow($color) {
   background-color: skyblue;
   box-shadow: $color 12px 5px 0px;
}

@mixin flex-box($direct, $just) {
   display: flex;
   flex-direction: $direct;
   align-items: center;
   justify-content: $just;
}
