@use "themes";
@use "cards";
@use "card-content";
@use "landingpg";
@use "projectBdrop";
body {
  background-image: linear-gradient(themes.$secondary, themes.$primary);
  height: auto;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  padding-top: 10%;
  margin-left: 20%;
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  .nav-icons {
    cursor: pointer;
  }
}

.nav-ul {
  top: 0%;
  margin: 0%;
  padding: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  position: fixed;
  .Resume {
    background-color: themes.$thirdColor;
  }
  .Linkedin {
    background-color: #0077b5;
  }
  .Github {
    background-color: #000000;
  }
  .Email {
    background-color: themes.$thirdColor;
  }
  .AboutMe {
    background-color: #0077b5;
  }
}

.name {
  font-size: 2.5em;

  .first {
    font-family: themes.$fontRoboto;
  }
  .last {
    box-shadow: 0px 1px black;
    color: themes.$primary;
    font-family: themes.$fontRoboto;
  }
}

.intro-h2 {
  font-family: themes.$fira;
}

.intro-pg {
  padding: 0%;
  margin-bottom: 20%;
  font-size: 1.5rem;
  font-family: themes.$fontPlay;
}

.text-link {
  color: themes.$secondary;
}

button {
  border: thin;
  cursor: pointer;
  p {
    color: white;
  }
}
footer {
  .projects-link {
    color: themes.$secondary;
  }

  h1 {
    font-family: themes.$fontRoboto;
  }
}

@media (max-width: 607px) {
  main {
    margin-left: 20%;
  }
}

@media (max-width: 303px) {
  main {
    margin-left: 27%;
    width: 75%;
  }
  .intro-h1 {
    font-size: 2rem;
  }
  .intro-pg {
    font-size: 1.2rem;
  }
}
