@import url("https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@500&family=Fira+Code:wght@300&family=Play&display=swap");
.card-container {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 5%;
}

.aboutMe-card {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 5%;
  width: 50%;
  text-align: center;
}

.card {
  box-shadow: 1px 5px 15px 1px rgba(9, 9, 9, 0.41);
  z-index: 10em;
  padding-top: 2%;
  border-radius: 2%;
  align-items: center;
  width: auto;
  background-color: #13131306;
  margin-bottom: 10%;
}
.card .header {
  text-align: center;
}

.projects-card {
  box-shadow: 1px 25px 25px 0px rgba(9, 9, 9, 0.41);
  margin-top: 20%;
  margin-left: 15%;
  width: 60%;
  border-radius: 2%;
}

header {
  text-align: center;
}

.project-btn {
  margin: 2%;
  color: white;
  border-radius: 2%;
}
.project-btn .code-link {
  color: white;
}

.img-container {
  position: relative;
  width: 100%;
}

.imgs {
  width: 100%;
  border-radius: 2%;
  display: block;
}

.img-overlay {
  position: absolute;
  background: rgba(8, 8, 8, 0.56);
  color: white;
  opacity: 0;
  top: 0;
  left: 0;
  border-radius: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-overlay header {
  font-size: 1rem;
}

.img-overlay:hover {
  opacity: 1;
}

.resume-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.resume-content .sub-header {
  border-top: 0.1rem solid;
}

.resume-icon-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 20%;
}

.project-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(10px);
  z-index: 100%;
  width: 100vw;
  height: 350vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.modal-backdrop .modalBox {
  width: 50%;
  margin-bottom: 25%;
  border-radius: 2.5%;
  box-shadow: 5px 0 10px 0px;
  text-align: center;
}
.modal-backdrop .close {
  margin-left: 88%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: Anek Gujarati;
}

.home {
  background-color: antiquewhite;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

a {
  text-decoration: none;
}

.projects-link-container:hover {
  box-shadow: 1px 25px 25px 10px rgba(0, 0, 0, 0.33);
}

.projects-h1 {
  margin-top: 5%;
  font-size: 1.5em;
}

.intro-h1 {
  font-size: 2rem;
}

.intro-pg {
  font-size: 1.2rem;
}

/*# sourceMappingURL=index.css.map */
