@use "themes";
@use "cards";
@use "card-content";
@use "landingpg";
@use "projectBdrop";
body {
  background-image: linear-gradient(#2f80ed, #b2ffda);
  height: auto;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  padding-top: 10%;
  margin-left: 20%;
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  .nav-icons {
    cursor: pointer;
  }
}

.nav-ul {
  top: 0%;
  margin: 0%;
  padding: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.last {
  color: themes.$thirdColor;
  font-family: themes.$fontSoul;
}

.intro-h1 {
  font-family: themes.$fontPlay;
  font-size: 2.5em;
  margin: 0%;
  padding: 0%;
}

.intro-pg {
  padding: 0%;
  margin-bottom: 20%;
  font-size: 1.5rem;
  font-family: themes.$fontPlay;
  &:hover {
    color: azure;
  }
}

.text-link {
  color: themes.$thirdColor;
  cursor: pointer;
}

button {
  border: thin;
  cursor: pointer;
  p {
    color: white;
  }
}

@media (max-width: 607px) {
  main {
    margin-left: 20%;
  }
}

@media (max-width: 303px) {
  main {
    margin-left: 27%;
    width: 75%;
  }
  .intro-h1 {
    font-size: 2rem;
  }
  .intro-pg {
    font-size: 1.2rem;
  }
}
