/* Error: Missing argument $just.
 *   ,--> _card-content.scss
 * 36|   @include utils.flex-box(column);
 *   |   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *   '
 *   ,--> _utils.scss
 * 5 | @mixin flex-box($direct, $just) {
 *   |        ======================== declaration
 *   '
 *   _card-content.scss 36:3  flex-box()
 *   _card-content.scss 36:3  @use
 *   index.scss 3:1           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $just.\a   \250c \2500 \2500 > _card-content.scss\a 36\2502    @include utils.flex-box(column);\d\a   \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a   \2575 \a   \250c \2500 \2500 > _utils.scss\a 5 \2502  @mixin flex-box($direct, $just) {\d\a   \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   _card-content.scss 36:3  flex-box()\a   _card-content.scss 36:3  @use\a   index.scss 3:1           root stylesheet";
}
